---
services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    user: 1000:1000
    network_mode: 'host'
    volumes:
      - /home/ceim_admin/docker_jellyfin/config:/config
      - /home/ceim_admin/docker_jellyfin/cache:/cache
      - type: bind
        source: /media/main
        target: /media
        read_only: true

    restart: 'unless-stopped'
    # Optional - alternative address used for autodiscovery
    environment:
      - JELLYFIN_PublishedServerUrl=localhost
